div{
    height: 100%;
    min-height: 100vh;
    background: black;
    color: white;
}

ul{
    height: 100vh;
    background-color: black;
}
li{
    background-color: transparent;
    color: white;
    border:none;
    cursor: pointer
}