<h2>Por pais</h2>
<hr>

<div class="row">
    <div class="col">

        <app-searcher 
            (onDebounce)="sugerencias($event)"
            (onSearch)="buscar($event)" 
            placeholder = "Buscar por pais"
        ></app-searcher>

    </div>
</div>

<ul class="list-group pt-1">
    
    <li 
        *ngFor="let sugerido of sugeridos"
        class="list-group-item list-group-item-action"
        >{{sugerido.name.common}}
    </li>

</ul>



    

<hr>

<app-alert [error]="error" alerta = "el pais"></app-alert>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-table [data] = "paises"></app-table>
    </div>
</div>
